@model DCP_OMNI.Models.Funcionario
@{
    ViewData["Title"] = "Detalhes";
}

<h2>@ViewData["Title"]</h2>
<hr />
<h3>@Html.DisplayFor(model => model.Nome)</h3>
<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Cargo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Cargo.Tipo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Rg)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Rg)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Cpf)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Cpf)
        </dd>
    </dl>
    <hr />
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-default">Editar</a>
    <a asp-action="Index" class="btn btn-default">Voltar</a>
</div>


