@model IEnumerable<DCP_OMNI.Models.Cargo>
@{
    ViewData["Title"] = "Cargos";
}
<h2>@ViewData["Title"]</h2>
<h3>Lista de cargos da DCP</h3>
<a asp-action="Create" class="btn btn-success"><b>Novo Cargo</b></a>
<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model=>model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model=>model.Tipo)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach(var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem=>item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem=>item.Tipo)
                </td>
                <td>
                    <a asp-action="Edit">Editar</a> |
                    <a asp-action="Delete">Excluir</a>
                </td>
            </tr>
        }
    </tbody>
</table>
